Resources:
  efsSG:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: { "Fn::Join" : ["", [{ "Ref" : "AWSEBEnvironmentName" }, " access to EFS" ]]}
      VpcId:
        Fn::GetOptionSetting:
          Namespace: aws:ec2:vpc
          OptionName: VPCId
  efsSGIngress1:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: { Ref : efsSG }
      IpProtocol: tcp
      SourceSecurityGroupId: { Ref : efsSG }
      FromPort: 0
      ToPort: 65535
  efsSGIngress2:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: { Ref : efsSG }
      IpProtocol: tcp
      SourceSecurityGroupId:
        Fn::GetOptionSetting:
          Namespace: aws:autoscaling:launchconfiguration
          OptionName: SecurityGroups
      FromPort: 2049
      ToPort: 2049
