Resources:
  efsFileSystem:
    Type: "AWS::EFS::FileSystem"
#    Properties:
#      FileSystemTags : [
#      {
#        Key : Name,
#        Value : TestFileSystem
#      }
#    ]
  efsMountTargetAZ1:
      Type: "AWS::EFS::MountTarget"
      Properties:
        FileSystemId: { Ref: efsFileSystem }
        SubnetId:
          Fn::GetOptionSetting:
            OptionName: privateSubnetAZ1
        SecurityGroups: [
          { Ref : efsSG }
        ]
  efsMountTargetAZ2:
      Type: "AWS::EFS::MountTarget"
      Properties:
        FileSystemId: { Ref: efsFileSystem }
        SubnetId:
          Fn::GetOptionSetting:
            OptionName: privateSubnetAZ2
        SecurityGroups: [
          { Ref : efsSG }
        ]